[package]
name = "tauri-plugin-holochain"
version = "0.0.0"
authors = ["You"]
description = ""
edition = "2021"
rust-version = "1.65"
exclude = ["/examples", "/webview-dist", "/webview-src", "/node_modules"]
links = "tauri-plugin-holochain"

[dependencies]
tauri = { version = "2.0.0-alpha", features = [
  "devtools",
  "native-tls-vendored",
] }

holochain = { version = "=0.2.3-rc.0", features = ["sqlite-encrypted"] }
holochain_types = "=0.2.3-rc.0"
holochain_client = "=0.4.5-rc.1"
holochain_keystore = "=0.2.3-rc.0"
mr_bundle = "=0.2.3-rc.0"
sodoken = "=0.0.9"

sys-locale = "0.3"
app_dirs2 = "2.5.5"
async-std = "1.12"
serde = "1.0"
thiserror = "1.0"
url = "2.4.0"
url2 = "0.0.6"
zip = { version = "0.6" }
bzip2 = { version = "0.4", features = ["static"] }
portpicker = "0.1"
mime_guess = "2.0.4"
hyper = { version = "0.14.27", features = ["full"] }
futures = "0.3"
either = "*"

[build-dependencies]
tauri-build = { version = "2.0.0-alpha" }
